.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.codeViewer {
    max-height: 600px;
    overflow-y: auto;
}