@import '../../theme/global.scss';

.userLogged {
  cursor: pointer;
}

.panel {
  padding: 0px;
  min-width: 200;

  .sign {
    font-size: $lTitleSize;
  }

  .details {
    padding: 0 40px;

    .fullname {
      font-size: $lTextSize;
      font-weight: 600;
      line-height: 1.3;
    }

    .role {
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.3;
    }

    .groups {
      color: $gray-color;
    }

  }
}